@charset "UTF-8";

table{
	width: 800px;
	border-collapse: collapse;
}
thead{
	border-top: 2px solid #105084;
	border-bottom: 1px solid #D3D3D3;
	background-color: #F7F7F7;
	text-align: center;
	font-weight: bold;
}
tbody{
	text-align: center;
}
tbody > tr > td:nth-child(2){
	text-align: left;
}
tr, td{
	height: 40px;
	border-bottom: 1px solid #D3D3D3;
}
tbody > tr:nth-child(even){
	background-color: #E1E1E1;
}
tbody > tr:hover{
	font-size: 17px;
	font-weight: bold;
}
.boardDiv{
	font-weight: bold;
	font-size: 14px;
	padding-bottom: 10px;
	padding-top: 10px;
}
.searchTable{
	width: 800px;
	height: 36px;
	text-align: center;
}
.searchTable input[type="text"]{
	width: 98%;
	border-radius: 6px;
	height: 26px;
	border: 1px solid black;
}
.searchTable input[type="submit"]{
	width: 98%;
	height: 28px;
	border-radius: 6px;
	outline: none;
}
.searchTable select{
	width: 98%;
	height: 28px;
	border-radius: 6px;
	outline: none;
	border: 1px solid black;
}
.searchTable tr, td{
	border-bottom: none;
}
