@charset "UTF-8";

.inputDiv{
	width: 400px;
	margin: 0 auto;
	line-height: 1.8em;
}
.inputDiv div:first-child{
	font-weight: bold;
	font-style: italic;
}
input[type="text"]{
	width: 98%;
	height: 30px;
	border-radius: 6px;
	border: 1px solid black;
	outline: none;
}
input[type="password"]{
	width: 98%;
	height: 30px;
	border-radius: 6px;
	border: 1px solid black;
	outline: none;
}
input[type="radio"]{
	width: 20px;
	height: 20px;
}
h3{
	font-weight: bold;
	font-size: 24px;
	text-align: center;
	padding-bottom: 20px;
	border-bottom: 2px solid #cccccc;
}
.joinDiv{
	background-color: #E1E1E1;
	padding: 20px;
	padding-bottom: 10px;
	margin: 0 auto;
	width: 400px;
	border-radius: 20px;
}
.red{
	font-size: 13px;
	color: red;
}
.btn{
	width: 99%;
}